*{
    padding:0;
    margin:0;
    box-sizing: border-box;
} 
body{
    background-color: rgb(144, 172, 196);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container-password{
    border:1px solid black;
    border-radius:10px;
    box-shadow:black;
    text-align: center;
    width:350px;
    background-color: aliceblue;
    position:relative;
}
.header{
    background-color: blue;
    color:white;
     margin-bottom: 10px;
    padding:5px;  
}
.display{
    margin-bottom:5px;
    position:relative;
}
#pass-input{
    width:90%;
    border:none;
    outline:none;
    padding:10px;
    font-size: larger;
    font-weight:bold;

}
#copy{
    position:absolute;
   top:0;
   right:30%;
   background-color: blue;
   color:white;
   border:none;
   width:25%;
   font-size:larger;
   padding:5px;
   border-radius:5px
}
#generate{
    display:block;
    width: 100%;
    padding: 7.5px;
    border:none;
    background-color: blue;
    color:white;
    font-size:1.2rem;
    

    /* position:absolute;
    bottom:0;
    left:0; */
}